h1{
    color: #107442bd;
}

 a[href*= 'abhineet_baghel']{
color :rgb(255, 255, 255)
}
 h1:hover{
    color: darkorange;
 }
 input:checked {
    transform: scale(1.6);
  }
h1{
   text-align: center;
   font-size: 50px;
}
.pic {
   align-items:center;
}
#picture{
   background-color:rgb(225, 174, 238);
}
h1{
   background-color:yellowgreen;
   border-radius: 20px;
   color: black;
   margin-bottom: 5px;
}
.picture{
   display: flex;
   flex-direction: column;
background-color:#db4e6a;
background-image: url(./pexels-ksenia-chernaya-5691695.jpg);
background-repeat: no-repeat;
  background-size: 1500px 1500px;
}

.picture--center {
   align-items: center;
}
   
span.img-rick{
   font-size: 30px;
   border: 3px solid rgb(214, 238, 80);
   margin-bottom: 5px;
   color: coral;
}
.img-rick{
   align-self: center;
}
.twitter-img:hover{
   color: teal;
   transform: scale(.3);
}
.socialstags:hover{
   font-size: 20px; 
}
.date{
   color: white;
}
.socialstags{
   color: white;
}